body {
  font-family: 'Mountains of Christmas', cursive;
  background-color: cornflowerblue;
}

.square {
  aspect-ratio: 1 / 1;
  box-shadow: inset 0 0 0 10px cornflowerblue;
  background-color: aqua;
}

.fizz {
  background-color: lightgreen;
}

.buzz {
  background-color: gold;
}

.fizzbuzz {
  background-color: orangered;
}

@media screen and (min-width: 992px) {
  .ms_col_lg_1_10 {
    width: 10%;
  }  
}