body {
  font-family: 'Mountains of Christmas', cursive;
  background-color: #f4a261;
}

.circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 10px solid #f4a261;
  background-color: #264653;
}

.fizz {
  background-color: #2a9d8f;
}

.buzz {
  background-color: #e9c46a;
}

.fizzbuzz {
  position: relative;
  background-color: #e76f51;
}

/* CSS ANIMATION CODE IS CREATED IN JS */
.fizzbuzz:hover {
  animation: bounce 0.6s;
  animation-iteration-count: 1;
}

h1 {
  width: fit-content;
  transition: color 0.3s;
}

h1:hover {
  color: #264653;
}

@media screen and (min-width: 992px) {
  .ms_col_lg_1_10 {
    width: 10%;
  }  
}